<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple tracker">
    <meta name="author" content="Antonio Terceiro, for the Debian project">

    <title><%= tracker_name %> - trivial tracker</title>
    <link rel="stylesheet" href="../.assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <style type='text/css'>
      body {
        padding-top: 1em;
      }

      #footer {
        margin-top: 1em;
        padding: 1em;
        background: #f5f5f5;
      }
      #progress {
        height: 320px;
      }

      .header               { font-weight: bold; }
      .header:hover         { background: #f5f5f5; font-weight: bold; }
      .header:after         { content: " ↕"; color: #c00000; }
      .headerSortUp:after   { content: " ↑" }
      .headerSortDown:after { content: " ↓" }

    </style>
  </head>
  <body>
    <div class='container'>
      <ol class="breadcrumb">
        <li><a href="..">Trackers</a></li>
        <li class="active"><%= tracker_name %></li>
      </ol>

      <div class="page-header">
        <h1><%= tracker_name %> <small>(number of packages: <%= packages.size %>)</small></h1>
      </div>

      <p>Last update: <%= Time.now.utc %></p>

      <div id='progress'></div>

      <p>Tracker code:</p>
      <pre><%= tracker_code %></pre>

      <% if packages.size > 0 %>
        <table class='table table-condensed tablesorter'>
          <thead>
            <tr>
              <th>Package</th>
              <% packages.first.keys.reject { |k| k == 'Package' }.sort.each do |field| %>
                <th><%= field %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
          <% packages.each do |pkg| %>
            <tr>
              <td><%= pkg['Package'] %></td>
              <% pkg.keys.reject { |k| k == 'Package' }.sort.each do |field| %>
                <td><%= pkg[field] %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <em>(no data)</em>
      <% end %>
    </div>

    <div id="footer">
      <div class="container">
        <div class='row'>
          <p class='text-muted credit'>
          simple-tracker - Copyright © 2015 Antonio Terceiro. This is free
          software licensed under the GNU General Public License version 3 or
          later. Source code on
          <a href="http://anonscm.debian.org/gitweb/?p=users/terceiro/simple-tracker.git;a=summary">git repository</a>
          </p>
        </div>
      </div>
    </div>

    <script type='text/javascript' src="../.assets/jquery.js"></script>
    <script type='text/javascript' src="../.assets/jquery.flot.js"></script>
    <script type='text/javascript' src="../.assets/jquery.tablesorter.js"></script>
    <script type='text/javascript' src="../.assets/chart.js"></script>
    <script type='text/javascript'>
      $("table.tablesorter").tablesorter();
    </script>
  </body>
</html>
